# Server
NODE_ENV=development
PORT=5000

# Database
MONGODB_USERNAME="yuvan12128_db_user"
MONGODB_PASSWORD="q7WNicsPcfmn0fGP"
MONGODB_URI="mongodb+srv://yuvan12128_db_user:q7WNicsPcfmn0fGP@cluster0.rc9e1gh.mongodb.net"

# JWT
JWT_SECRET=your-super-secret-jwt-key-change-in-production
JWT_EXPIRES_IN=7d

# CORS
CLIENT_URL=http://localhost:5173

# Attendance
ATTENDANCE_RETENTION_DAYS=365
LOW_ATTENDANCE_THRESHOLD=75
