# Server
NODE_ENV=development
PORT=5000

# Database
MONGODB_URI=mongodb+srv://yuvan12128_db_user:<db_password>@cluster0.rc9e1gh.mongodb.net/?appName=Cluster0

# JWT
JWT_SECRET=df343aaaf6c57e234c7b5442430828aeca1666385341ce21f51b1b24a0461f65
JWT_EXPIRES_IN=7d
# CORS
CLIENT_URL=https://roevermca.netlify.app

# Attendance
ATTENDANCE_RETENTION_DAYS=365
LOW_ATTENDANCE_THRESHOLD=75
